# Virtual environments
env/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Test
.pytest_cache/
.coverage
htmlcov/